# Allow tracking .txt files with "note" in their name
!*/note*.txt
!note*.txt
!*note.txt

# Allow directories to be traversed (necessary for nested files)
!*/

# Ignore these folders
node source code/

*.md
